
// Base Icon Font-Family is set in config!

// Additional Icon Font-Families are defined here...
.icon-logo {
  font-family: 'IconName-Logos';
}

.icon-social {
  font-family: 'IconName-Social';
}

// -----------------------------------------------------------------------------------
// Update the following classes with ones you get from the generated css file from icomoon.io
// -----------------------------------------------------------------------------------
