// Shared heading styles.
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: map-get($colours, grey-dark);
  font-weight: normal;

  a {
    text-decoration: none;

    @include hover {
      text-decoration: none;
    }
  }
}

// Specific heading styles.
h1, .h1 {
  @include responsive-font-sizes(none 42 48, md 64 72);
}
h2, .h2 {
  @include responsive-font-sizes(none 32 38, md 42 48);
}
h3, .h3 {
  @include responsive-font-sizes(none 26 30, md 32 38);
}
h4, .h4 {
  @include responsive-font-sizes(none 20 24, md 26 30);
}
h5, .h5,
h6, .h6 {
  @include responsive-font-sizes(none 20 24);
}

// Links.
a {
  color: map-get($colours, blue-light);
  text-decoration: underline;

  @include hover {
    color: map-get($colours, blue-dark);
  }
}

// Lists.
ul, ol {
  margin: 16px 0;
  padding-left: 20px;

  > li {
    margin: 8px 0;
  }

  ul, ol {
    padding-left: 30px;
  }
}

ul {
  // remove style from all UL's
  list-style-type: none;

  // re-apply initial style to un-classed UL's
  &:not([class^=list]) {
    list-style-type: initial;
  }
}

// Blockquotes.
blockquote {
  margin: 16px 0;

  > p {
    @include responsive-font-sizes(none 16 19, md 32 35);
    color: map-get($colours, blue-light);
    margin: 0;

    &:before {
      content: '\201C';
    }
    &:after {
      content: '\201D';
    }
  }
  footer {
    margin-top: 6px;

    a {
      color: map-get($colours, grey-light);
    }
  }
  cite {
    &:before {
      content: '\2014';
    }
  }
}

// Centered text.
.text--centered {
  text-align: center;
}
