// Site colours.
$colours: (
  grey-light: #666666,
  grey-dark: #333333
);

// Fonts settings.
$fonts: (
  _dir: '../fonts/',
  fonts: 'FontName-Bold' 'FontName-BoldItalic' 'FontName-Medium' 'FontName-MediumItalic' 'FontName-Semibold' 'FontName-SemiboldItalic',
  icons: 'IconName-Base' 'IconName-Logos' 'IconName-Social',
  primary-font: 3,
  primary-icon: 1
);

$font-stack: Helvetica, Arial, sans-serif;

// Base URL for CSS background images.
$img-dir: '../img/';

// Breakpoints.
$breakpoints: (
  xs: 1px,
  sm: 480px,
  md: 769px,
  lg: 1025px
);
