$dir: map-get($fonts, _dir);

// Fonts
@each $font in map-get($fonts, fonts) {
  @font-face {
    font-family: $font;
    src: url($dir + $font + '.eot');
    src: url($dir + $font + '.eot?#iefix') format('embedded-opentype'),
       url($dir + $font + '.woff2') format('woff2'),
       url($dir + $font + '.woff') format('woff'),
       url($dir + $font + '.ttf') format('truetype'),
       url($dir + $font + '.svg#' + $font) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

// Icons
@each $icon in map-get($fonts, icons) {
  @font-face {
    font-family: $icon;
    src: url($dir + $icon + '.eot');
    src: url($dir + $icon + '.eot?#iefix') format('embedded-opentype'),
       url($dir + $icon + '.woff2') format('woff2'),
       url($dir + $icon + '.woff') format('woff'),
       url($dir + $icon + '.ttf') format('truetype'),
       url($dir + $icon + '.svg#' + $icon) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

// Icon Base Styles
.icon {
  font-family: nth(map-get($fonts, icons), map-get($fonts, primary-icon));
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
