/**
 * Media query breakpoints, simplified.
 */
@mixin breakpoint($point) {
  @each $breakpoint in map-keys($breakpoints) {
    @if $point == $breakpoint {
      @media (min-width: map-get($breakpoints, $breakpoint)) { @content; }
    }
  }
}


/**
 * Define hover state as well as focus and active by default.
 * You can mix the states that you wish to use.
 */
@mixin hover($hover: true, $focus: true, $active: true) {
  // Prefill the states list with the options.
  $states: ();
  @if $hover { $states: append($states, hover); }
  @if $focus { $states: append($states, focus); }
  @if $active { $states: append($states, active); }

  // Generate the CSS selector based on the options above.
  $selector: '';
  @each $state in $states {
    $selector: $selector + '&:' + $state + ',';
  }

  // Remove the last comma.
  $selector: str-slice($selector, 0, -2);

  // Output the CSS rule.
  #{$selector} { @content; }
}


/**
 * Defines font-size and line-heights for various breakpoints.
 *
 * @requires 'em' function from Bourbon.io
 * @requires 'breakpoint' function from _grid.scss from this repo.
 *
 * Parameters:
 *    first:  breakpoint name
 *    second: font-size (without unit)
 *    third:  line-height (without unit)
 *
 * @example
 *     @include responsive-font-sizes(breakpoint font-size line-height, breakpoint font-size line-height...);
 *     @include responsive-font-sizes(none 16 26, sm 24 30, md 34 42);
 */
@mixin responsive-font-sizes($sizes...) {
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);

    $breakpoint: nth($size, 1);
    $font-size: nth($size, 2);
    $line-height: nth($size, 3);

    @if ($breakpoint == none) {
      font-size: em($font-size);
      line-height: strip-units(em($line-height, $font-size));
    }
    @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
        line-height: em($line-height, $font-size);
      }
    }
  }
}
